[paths]
source =
   src/audit_alembic
   */site-packages/audit_alembic

[run]
branch = true
source =
    audit_alembic
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
